/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'barlow';
  src: url('../fonts/Barlow-Bold.woff') format('woff') ,
  url('../fonts/Barlow-Bold.woff2') format('woff2');
}


@font-face {
  font-family: 'barlow';
  src: url('../fonts/Fraunces-9ptBlack.woff') format('woff') ,
  url('../fonts/Fraunces-9ptBlack.woff2') format('woff2');
}

*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ol , ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
}



.header-home{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}


.header-nav-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-nav-list-item{
  margin-right: 32px;
}

.header-nav-list .header-nav-list-item:nth-child(3){
  margin-right: 0;
}

.header-nav-list-link{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}


.header-nav-list-item:active{
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center  top 5px ;
}

.header-nav-list-link:active{
  color: #333D4B;
}

.main-hero{
  height: 600px;
  background-image: url("../images/Bitmap.jpg");
  border-radius: 10px;
  margin-top: 45px;
}

.main-hero-list{
  width: 493px;
  padding-top: 117px;
  padding-left: 85px;
}

.main-hero-title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}

.main-hero-text{
  margin: 0;
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.main-hero-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 56px;
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
}

.main-hero-link:active{
  background: #66D2CF;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px bottom;
}

.main-about{
  display: inline-block;
  background-image: url("../images/background-coffee.svg");
  background-repeat: no-repeat;
  background-position: center top 150px;
  width: 1111px;
  height: 525px ;
  margin-left: 80px;
}

.main-about-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  
  margin-top: 278px;
}

.about-item-img{
  width: 256px;
  height: 193px;
}

.about-item-title{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}

.about-item-text{
  width: 255px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.main-contact{
  background: #2C343E;
  height: 577px;
  margin-top: 200px;
  margin-bottom: 423px;
}

.main-contact-title{
  padding-top: 100px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}

.main-contact-text{
  margin: 0 auto;
  margin-top: 32px;
  width: 540px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  opacity: 0.8;
}

.contact-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 86px;
  padding: 0;
}

.contact-list-item{
  width: 350px;
  margin-left: 30px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
}

.contact-list .contact-list-item:nth-child(1){
  margin-left: 85px;
}

.contact-list-img{
  margin-top: 72px;
}

.contact-list-title{
  margin: 0;
  margin-top: 56px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.contact-list-text{
  margin: 0 auto;
  margin-top: 24px;
  width: 255px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.main-list-box{
  margin-left: 85px;
}

.main-list-title{
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}

.main-list-circle{
  width: 31px;
  height: 31px;
  border-radius: 50%;
  /* color: #0E8784; */
  background: #FEFCF7;
  border: 2px solid #0E8784;
}

.main-list-style{
  margin: 0;
  position: relative;
  top: -21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;

}

.main-list-design{
  display: block;
  margin-top: 80px;
}

.main-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 margin: 0;
  padding: 0;
  margin-top: 67px;
}

.main-list-item{
  width: 285px;
  margin-left: 95px;
}

.main-list-item:nth-child(1){
  margin: 0;
}

.main-list-item-title{
  margin: 0;
  margin-top: 38px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.main-list-text{
  margin: 0;
  margin-top: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.main-list-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
}

.main-list-link:active{
  background: #66D2CF;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 30px bottom -5px;
}


.footer-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2C343E;  
  padding: 26px 85px;
  margin-top: 200px;
}

.footer-left-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list-link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-link{
  margin-left: 33px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-item-link{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer-link:nth-child(1){
  margin-left: 103px;
}

.footer-right-link{
  margin-right: 24px;

}

.footer-right-icon{
  padding-top: 20px;
  padding-bottom: 20px;
}

.instagram{
  margin: 0;
}

.footer-item-link:active{
  color: #FEFCF7;
}

.footer-link:active{
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center bottom -2px;
}

.footer-right-link:active .footer-right-icon{
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}